<h1>
  Employee Name : {{getName()}}
  <!-- Employee Name : {{name}} -->
</h1>

<!-- <h4 [id]="name" [hidden]="isHidden" [innerText]="name"></h4> -->

<h4 [id]="name" *ngIf="isHidden" [innerText]="name"></h4>


<input class="form-control" [hidden]="isHidden" type="text" [value]="name" placeholder="Name"
 (change)="changeName($event)">
<input class="form-control" [hidden]="isHidden" type="text" [value]="city" placeholder="City" >

<button class="btn btn-primary" type="button" (click)="toggleInputs()">Toggle</button>