<app-emp-list></app-emp-list>
<h1>
  Employee Name : {{getName()}}
  <!-- Employee Name : {{name}} -->
</h1>

<!-- <h4 [id]="name" [hidden]="isHidden" [innerText]="name"></h4> -->

<h4 [id]="name" *ngIf="isHidden" [innerText]="name"></h4>


<input class="form-control" [hidden]="isHidden" type="text" [value]="name" placeholder="Name"
 (change)="changeName($event)">
<input class="form-control" [hidden]="isHidden" type="text" [value]="city" placeholder="City" >

<button class="btn btn-primary" type="button" (click)="toggleInputs()">Toggle</button>

<ng-container *ngTemplateOutlet="admin">

</ng-container>

<ng-container *ngTemplateOutlet="user">

</ng-container>
<ng-template #admin>
  This is admin area
</ng-template>

<ng-template #user>
  This is user area
</ng-template>