<h1>
  Insurance Providers
</h1>
<!-- {{providers | json}} -->
<table class="table" *ngIf="providers">
  <thead>
    <tr>
      <th>
        Sr No
      </th>
      <th>
        Name
      </th>
      <th>
        CashLess
      </th>
      <th>
        Daily Limit
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let provider of providers;index as i;first as isFrist
    ;last as isLast;even as isEven;odd as isOdd;trackBy:trackByFn">
      <td>
        {{i + 1}} {{isFrist}} {{isLast}} {{isEven}} {{isOdd}}
      </td>
      <td>
        {{provider.name}}
      </td>
      <td [innerText]="provider.cashLess">
      </td>
      <td>
        {{provider.dailyLimit}}
      </td>
    </tr>
  </tbody>
</table>