<h1>
  Doctors List
</h1>
<!-- {{doctorsList |json}} -->

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Speciality</th>
      <th>Degree</th>
      <th>Contact Number</th>
      <th>Joined On</th>
      <th>Salary</th>
      <th>Select Doctor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of doctorsList">
      <td>{{doctor.name}}</td>
      <td>{{doctor.speciality}}</td>
      <td>{{doctor.degree}}</td>
      <td>{{doctor.contactNo}}</td>
      <td>{{doctor.joinedOn}}</td>
      <td>{{doctor.salary}}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="sendSelectedDoctor(doctor)">Select</button>
      </td>
    </tr>
  </tbody>
</table>