/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';

h4 {
   color: red; 
}

.app-employee h4 {
    background-color: steelblue;
    color: white;
}

.app-employee h1 {
    color: white;
}