<h1>
  ToDo List
</h1>

<table class="table">
  <thead>
    <tr>
      <th>User Id</th>
      <th>Id</th>
      <th>Title</th>
      <th>Completed</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let todo of todoList">
      <td>{{todo.userId}}</td>
      <td>{{todo.id}}</td>
      <td>
        {{todo.title}}
      </td>
      <td>{{todo.completed}}</td>
      <td>
        <button class="btn btn-primary" (click)="editTask(todo)">Edit</button>
      </td> 
      <td>
        <button class="btn btn-danger" (click)="deleteTask(todo)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>