<h1>
  Add Task
</h1>

{{todo | json}}
{{todoForm.valid | json }}
{{todoForm.invalid | json }}
{{todoForm.pristine | json }}
{{todoForm.dirty | json }}
{{todoForm.value | json }}
{{todoForm.errors | json }}
<form #todoForm="ngForm" (submit)="addTask()" novalidate>
  <div *ngIf="todo.id> 0" class="form-group">
    <input class="form-control" readonly type="number" 
    name="id" [(ngModel)]="todo.id">
  </div>
  <div class="form-group">
    <input #userid="ngModel" min="1" max="10" required class="form-control" type="number" name="userid"
      [(ngModel)]="todo.userId" placeholder="User ID">
    {{userid.valid | json }}
    {{userid.invalid | json }}
    {{userid.pristine | json }}
    {{userid.dirty | json }}
    {{userid.value | json }}
    {{userid.errors | json }}
    <div class="alert alert-danger" *ngIf="userid.invalid && !userid.pristine">
      Please provide userid.
    </div>
  </div>
  <div class="form-group">
    <input #title="ngModel" required minlength="4" class="form-control" type="text" name="title"
      [(ngModel)]="todo.title" placeholder="Title">
    {{title.errors | json}}
    <div class="alert alert-danger" *ngIf="title?.errors?.required">
      Please provide Title.
    </div>
    <div class="alert alert-danger" *ngIf="title?.errors?.minlength">
      Title should be minimum 4 chars.
    </div>
    <div class="alert alert-danger" *ngIf="title?.errors?.pattern">
      Title should be alphanumeric.
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" type="checkbox" name="completed" [(ngModel)]="todo.completed">
  </div>
  <div *ngIf="todo.id === 0" class="form-group">
    <button [disabled]="todoForm.invalid" type="submit" class="btn btn-primary">Add Task</button>
  </div>
  <div *ngIf="todo.id> 0" class="form-group">
    <button [disabled]="todoForm.invalid" type="submit" class="btn btn-primary">Update Task</button>
  </div>
</form>